<% provide(:title, 'Contacta') %>
<h1>Contacta</h1>
<div class="row">
  <div class="span6 offset3">
<h4>Tu nombre:
<input type="text" name="nombre" size="10">
Tu Email:
<input type="text" name="email" size="10">
Tu mensaje:
<textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
<input type="submit" value="Enviar"></h4></form>
 </div>
</div>