<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>  
<% else %>
<h1>Bienvenido</h1>

<div class="center hero-unit">
  <h1>Twittube</h1>

  <h2>
    Esta red social ha sido desarrollada gracias al
    <a href="http://railstutorial.org/">Tutorial de Ruby on Rails </a>
  </h2>

  <%= link_to "Registrate ahora!", signup_path, class: "btn" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<h4> Desarrollado por: " Noel Díaz Mesa, Sergio Afonso García y María Rojas " </h4>
<% end %> 