<li>
  <%= gravatar_for usuarios, size: 52 %>
  <%= link_to usuarios.username, usuarios %>
  <% if current_user.admin? && !current_user?(usuarios) %>
    | <%= link_to "delete", usuarios, method: :delete,
                                  data: { confirm: "¿Estas seguro?" } %>
  <% end %>
</li>