<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Quienes Somos", about_path %></li>
	  <li><%= link_to "Contacta", contact_path %></li>
	  <li><a href="http://news.railstutorial.org/" >Noticias</a></li>
	  <li><a href="http://www.railstutorial.org/"> Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>